@model string

@{
	ViewBag.Title = "Authorize";
}

<h2>Create</h2>


@using (Html.BeginForm("AuthorizeApplicationSubmit","Users"))
{
	@Html.AntiForgeryToken()
	<input type="hidden" name="ClientId" value="@Model"/>
	<div class="form-horizontal">
		
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Authorize" class="btn btn-default" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button onclick="document.location()"></button>
			</div>
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
